@import '../../../scss/utils/colors';

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   outline: none;
//   font-family: "poppins";
// }

// html {
//   overflow-x: hidden;
// }

@media (max-width: ($breakpoint - 1)) {
  .main {
    background-color: whitesmoke;
    width: fit-content;
    // max-width: calc(100vh - 327px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: $breakpoint) {
  .main {
    background-color: whitesmoke;
    width: fit-content;
    // max-width: calc(100vh - 327px);
    // width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}


