@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

/* Acá se aplican las reglas generales de éstilo, con selectores puros SOLO anidados dentro de uno de clase */

.mainLayout {
  margin: 0;

  h2 {
    margin: 0;
  }
  p {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      margin-bottom: 10%;
      color: #ffff;
      font-size: larger;
    }
  }
}
