.ppalComponent{
    display: flex;
    align-items: center;
    h3{
        font-size: xx-large;
        text-align: center;
        
    }
}


.landingImg{
    width: 456px;
    height: 456px;
    align-self: flex-start;
}