@import "../../scss/utils/colors";

.taskCard {
    // backgroundColor: $lightBlue-card;
    // border-radius: 5px;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 7px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 5px;

      .titleCard {
        color: black;
        font-weight: 700;
        font-size: 16px;
      }

      svg {
        cursor: pointer;
      }
    }

    .descriptionCard {
      color: brown;
      padding-right: 15px;
      padding-left: 15px;
      font-weight: 700;
      opacity: .8;
      padding-bottom: 20px;
    }
  }


  .formatContainer {
    width: 1142px;
    margin: 0 auto;
  }
  
  
 
  .coursesBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .coursesItem {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .coursesItemLink {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .coursesItemLink:hover,
  .coursesItemLink:hover .coursesItemDate {
    text-decoration: none;
    color: #FFF;
  }
  .coursesItemLink:hover .coursesItemBg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .coursesItemTitle {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .coursesItemDateBox {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .coursesItemDate {
    font-weight: bold;
    color: #f9b234;
    margin-left: 10px;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .coursesItemBg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .coursesItemContent{
   
    
  }
  .coursesItemTools{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
  }
  .coursesItem:nthChild(2n) .coursesItemBg {
    background-color: #3ecd5e;
  }
  .coursesItem:nthChild(3n) .coursesItemBg {
    background-color: #e44002;
  }
  .coursesItem:nthChild(4n) .coursesItemBg {
    background-color: #952aff;
  }
  .coursesItem:nthChild(5n) .coursesItemBg {
    background-color: #cd3e94;
  }
  .coursesItem:nthChild(6n) .coursesItemBg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .coursesItem {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .coursesItemTitle {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .formatContainer {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .coursesItem {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .coursesItemTitle {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .coursesItemLink {
      padding: 22px 40px;
    }
    .coursesItemDateBox {
      font-size: 16px;
    }
  }

  


  .card {
    background-color: grey;
    padding: 15px 5px 15px 15px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    min-width: min-content;
    max-width: 60%;
    min-height: 70px;
  }
  
  .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    z-index: 2;
  }
  
  .cardBody {
    padding: 0 10px;
    z-index: 2;
  }

  .cardTitle {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 10px 25px 10px;
    text-align: left;
  }
  
  .cardDescription {
    padding: 0 10px 0 10px;
    margin: 0;
  }
  
  .cardOptions {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  
  .cardOption {
    margin-bottom: 5px;
    text-align: center;
    &:hover{
      cursor: pointer;
      scale: 1.1;
    }
  }
  .cardItemBg{
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position:absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .cardItemLink:hover,
  .cardItemLink:hover .cardItemDate {
    text-decoration: none;
    color: #FFF;
  }
  .card:hover .cardItemBg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }